    <div class="center"><%= will_paginate @articles, page_links: false,
      previous_label: "<b class='glyphicon glyphicon-arrow-left'></b> <b>Newer</b>",
      next_label: "<b>Older </b><b class='glyphicon glyphicon-arrow-right'></b>" %>
    </div>
    <ul id="articles" class="list-unstyled">   
      <% @articles.each do |article| %>
        <li>
            <h3><%= link_to article_title(article), article_path(article) %></h3>
              <%#= truncate(strip_tags(article.body), length: 90) { link_to "continue", article } %>
          <small>
            Created <%= article.created_at.strftime("%B %d, %Y") %> | 
            Last Updated <%= article.updated_at.strftime("%B %d, %Y") %>
          </small>
          <div class="text-right">
            <small><%= pluralize(article.comments.count, "comment") %>
            <% if logged_in? && current_user.admin? %>
               | <%= link_to 'Edit', edit_article_path(article) %> | 
              <%= link_to 'Delete', article_path(article),
                          method: :delete,
                          data: { confirm: 'Delete Article... Are you sure?' } %>
            <% end %>
            </small>
          </div>
        </li>
      <% end %>
    </ul>
    <br>
    <div class="center"><%= will_paginate @articles, page_links: false,
      previous_label: "<b class='glyphicon glyphicon-arrow-left'></b> <b>Newer</b>",
      next_label: "<b>Older </b><b class='glyphicon glyphicon-arrow-right'></b>" %>
    </div>