  <aside class="col-md-3 col-sm-4 col-md-offset-1 hidden-xs">
    <div>
      <section class="user_info">
        <div>
          <% if @article.present? %>
            <h4>Author</h4>
            <%= gravatar_for @article.user, size: 100 %>
            <h3><%= @article.user.name %></h3>
            <div class="bio"><%= @article.user.bio %>
          <% else %>
            <h4>Owner</h4>
            <%= gravatar_for User.first, size: 100 %>
            <h3><%= User.first.name %></h3>
            <div class="bio"><%= User.first.bio %></div>
          <% end %>
        </div>
      </section>
    </div>
  </aside>
