  <aside class="col-md-3 hidden-sm hidden-xs">
    <div id="fixed_sidebar">
      <section class="author_info">
        <div>
          <% if @article.present? %>
            <h4>Author</h4>
            <%= gravatar_for @article.user, size: 100 %>
            <h4><%= @article.user.name %></h4>
            <div class="bio"><%= @article.user.bio %>
          <% else %>
            <h4>Owner</h4>
            <%= gravatar_for User.first, size: 100 %>
            <h4><%= User.first.name %></h4>
            <div class="bio"><%= User.first.bio %></div>
          <% end %>
        </div>
      </section>
    </div>
  </aside>
