<% @article.comments.order("created_at ASC").each do |comment|  %>

<div class="comment">
  
  <div class="comment-meta">
    <%= gravatar_for(User.find(comment.user_id), size: 25) if !comment.user_id.nil? %>
    <span class="comment-author"><%= User.find(comment.user_id).name %> </span>
    
    <!-- <span class="comment-author"><%#= comment.author_name %> </span> -->
    <small><%= comment.created_at.strftime("%-m/%-d/%Y %-I:%M%p (%Z)") %></small>

    <small >
    <% if logged_in? && current_user.admin? %>
       | <%= link_to 'edit', edit_article_comment_path(comment.article, comment) %>
       | <%= link_to 'delete', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Delete Comment... Are you sure?' } %>
    <% end %>
  </small>

  </div>

  <p class="comment-body"><%= kramdown comment.body %></p>
  
</div>

<% end %>