  <div class="article_form">
    <%= render 'shared/error_messages', target: @article %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :body %>
    <% if !request.user_agent.include? 'MSIE' %>
      <%= render 'toolbar' %>
    <% end %>
    <%= f.text_area :body, class: 'form-control' %>

    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </div>