  <div class="article_form">
    <%= render 'shared/error_messages', target: @article %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', name: "md_text_editor" %>

    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </div>