<div class="article_form">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>

    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>

    <%= f.submit "Update Article", class: 'btn btn-primary' %>
</div>