<main class="row">
  <article class="col-md-8 col-md-offset-2">
  <%= form_for(@article) do |f| %>

    <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>

    <div class="article_form">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control' %>

        <%= f.submit "Create Article", class: 'btn btn-primary' %>
    </div>

  <% end %>
  </article>
</main>