<main class="row">

  <article class="col-md-8 col-sm-8">
    <div class="back_link">
      <%= link_to articles_path do %>
        <i class="glyphicon glyphicon-arrow-left"></i> Back to Index
      <% end %>
    </div>
    <br>
    <div id="article">
      <div>
        <h2><%= @article.title %></h2>
        <small>
          Created <%= @article.created_at.strftime("%B %d, %Y") %> | 
          Last Updated <%= @article.updated_at.strftime("%B %d, %Y") %>
        <% if logged_in? && current_user.admin? %>
           | <%= link_to 'Edit', edit_article_path %> | 
          <%= link_to 'Delete', article_path,
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
        </small>
        <% end %>
      </div>
      <p><%= @article.body %></p>
    </div>
    <br>
    <div class="back_link">
      <%= link_to articles_path do %>
        <i class="glyphicon glyphicon-arrow-left"></i> Back to Index
      <% end %>
    </div>
  </article>

  <%= render 'aside' %>
  
</main>