<% provide(:title, @user.name) %>

<main class="row">
<h1 class="center">User Profile</h1>
  <div class="col-md-4 col-md-offset-2">
    <div class="center">
      <%= gravatar_for @user, size: 175 %>   
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-left">
      <p><strong>Name: </strong><%= @user.name %></p>
      <p><strong>Email: </strong><%= @user.email %></p>
      <p><%= @user.bio %></p>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-4 center">
    <br>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <div>
</main>